mixin report(report)
  li.report-listing
    ul
      li.report-text #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}
    
mixin no-report
  li
    ul
      li No reports

.report-wrapper
  .report-grid
    h2.title-red RED
    ul
      for report in red
        +report(report)
      else
        +no-report


  .report-grid
    h2.title-green GREEN
    ul
      for report in green
        +report(report)
      else
        +no-report

  .report-grid
    h2.title-blue BLUE
    ul    
      for report in blue
        +report(report)
      else
        +no-report
        
  .report-grid
    h2.title-ebg EBG
    ul
      for report in ebg
        +report(report)
      else
        +no-report
