mixin report(report)
  li.report-listing
    ul
      li.report-text #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}
    
mixin no-report
  li
    ul
      li No reports

.report-wrapper
  .report-grid
    h2.title-red RED
    ul#redbg
      for report in red
        +report(report)

  .report-grid
    h2.title-green GREEN
    ul#greenbg
      for report in green
        +report(report)

  .report-grid
    h2.title-blue BLUE
    ul#bluebg
      for report in blue
        +report(report)
        
  .report-grid
    h2.title-ebg EBG
    ul#ebg
      for report in ebg
        +report(report)
