doctype html
html
  head
    title CoastCast
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico')
    
  body
    .header
      span.vmiddle.left.nav-title
        h1 CoastCast
      span.vmiddle.right.nav-title
        h3 #{reportType}: #{reportCount} Total
    .content
      != message
      block content
    .footer
      include ../includes/submit
