doctype html
html
  head
    title CoastCast
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico')
    
  body
    .container
      h1.logo CoastCast
      p!= message
      
      block content
