doctype html
html
  head
    title CoastCast
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico')
    
  body
    .header
      span.nav-title
        h1 CoastCast
      span.nav-title
        h3 #{reportType}: #{reportCount} Total
    .content
      != message
      block content
      p#usercount.message-usercount Counting users...
      
    .footer
      include ../includes/submit

  script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  script(src="http://code.jquery.com/jquery-1.11.1.js")
  script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.js")
  script.
    var socket = io();
    socket.on('usercount', function(msg) {
      $('.message-usercount').animate({
        backgroundColor: "#666",
      }, 500);
      $('.message-usercount').animate({
        backgroundColor: "#000000",
      }, 1000);
      $('#usercount').text(msg);
    });
