doctype html
html
  head
    title CoastCast
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico')
    
  body
    .header
      span.nav-title
        h1 CoastCast
    .content
      block content
    .footer
      .message
      .submit-form
        include ../includes/submit

  script(src="https://cdn.socket.io/socket.io-1.3.5.js")
  script(src="http://code.jquery.com/jquery-2.1.4.min.js")
  script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
  script(src="/js/app.js")
    
