doctype html
html
  head
    title CoastCast
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='favicon.ico')
    
  body
    h2 CoastCast
    p= message
    
    block content
