doctype html
html
  head
    title CoastCast
    link(rel='stylesheet', href='/css/app.css')
    link(rel='shortcut icon', href='/favicon.ico')
    
  body
    .header-container
      .header
        h1.logo CoastCast
    .content
      p!= message
      block content
    .footer
      include ../includes/submit
