extends ./layouts/base

block content
  .report-wrapper
    .about-grid
      h2.title-blue CoastCast v1.0 Beta
      ul
        li.report-listing
          ul
            li <img src="/img/ryv_2015.png">
            li.report-text Created by Ryvalia
            li Council Leader and Commander of Flux Capacity [FLUX]
            li Join Us @ <a href="http://fluxcapacity.enjin.com">fluxcapacity.enjin.com</a>
        li.report-listing
          ul
            li Thanks goes to all the staff and community @ <a href="http://tcwvw.com/">TCWvW.com</a>
