bg-body = #ddd
bg-container = #eee
bg-header = #000
bg-footer = #444
bg-report = #fff

bg-red = #ee5544
bg-green = #66aa88
bg-blue = #4477dd
bg-ebg = #85667a

message-green = #03c385
message-red = #ff1493

text-title = #fff
text-input = #000
