// Imports

@import _normalize
@import _colors

// Tags

body
  background-color bg-body
  font-family Helvetica, Arial, Sans-Serif
  font-size 14px

h1, h2, h3
  margin 0
  padding 0

hr
  border none
  color bg-body
  background-color bg-body
  height 1px

input[type=text]
  color text-input
  border 1px
  border-color #000
  border-style solid
  border-radius .2rem
  outline none
  margin-left 1rem
  margin-bottom 1rem
  padding .2rem

input[type=submit]
  background-color black
  border 1px
  border-color #000
  border-style solid
  border-radius .2rem
  color text-title
  margin-left 1rem
  outline 0 none
  padding .3rem

label
  margin-left 1rem

select
  font-size 1.5rem
  padding .2rem
  margin-left 1rem

// Generic Classes

.header
  background-color bg-header
  color text-title
  position fixed
  top 0
  height 2rem
  padding 0.5rem
  width 100% - 0.8rem

.content
  margin 3rem auto 3rem auto
  width 100%
  text-align center

.footer
  background-color bg-footer
  padding-top 1rem
  position fixed
  bottom 0
  width 100%

  form
    color text-title
    text-align center
    width 100%
    margin 0 auto

.message
  display none
  padding 0
  width 100%
  text-align center

.message-green
  background-color message-green
  color text-title
  font-weight bold
  padding .5rem

.message-red
  background-color message-red
  color text-title
  font-weight bold
  padding .5rem

.message-usercount
  background-color bg-header
  border-radius 0.5rem
  color text-title
  display inline-block
  font-weight bold
  padding .5rem

.nav-title
  display inline-block

// Reports

.report-wrapper
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items  flex-start

.report-grid
  background-color bg-report
  border-radius 0.5rem
  flex 1
  min-width 300px
  max-width 300px
  margin 1rem
  text-align left

  ul
    margin 0
    padding 0.5rem

    li
      border-radius 0.5rem
      list-style none

.report-listing:not(:last-child)
  border-bottom 1px solid bg-body

.report-input
  width 15rem

.report-text
  font-weight bold

.title-red, .title-green, .title-blue, .title-ebg
  border-top-left-radius 0.5rem
  border-top-right-radius 0.5rem
  color text-title
  padding 0.5rem

.title-red
  background-color bg-red

.title-green
  background-color bg-green

.title-blue
  background-color bg-blue

.title-ebg
  background-color bg-ebg
